/**
 * @file mailLine.css
 * @author Joey Damico
 * @date June 4, 2019
 * @brief CSS Stylesheet for the Main Line Tracks
 *
 * Styles the divs tracks and other tags for the Main Line Section of the pannel
 */

@charset "UTF-8";
    /* Tags */
    .wc_yard_tag {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 470px;
        left: 1225px;
        font-size: 16px;
        color: #52fff6;
    }

    .hilburn_yard_tag {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 575px;
        left: 828px;
        font-size: 16px;
        color: #52fff6;
    }
    /*Second Row*/
    /* END Tags */

    /* Symbols */
    /* First Row */
    .symbol_sterling_hilburn_2 {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 524px;
        left: 610px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_hilburn_sf_2 {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 524px;
        left: 830px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_hilburn_yardWest {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 555px;
        left: 785px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_hilburn_yardEast {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 555px;
        left: 900px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_sterling_sf_1 {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 493px;
        left: 750px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_sf_wc_2 {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 524px;
        left: 1180px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_sf_wc_1 {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 493px;
        left: 1180px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_wc_ridgewood_2 {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 524px;
        left: 1560px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_wc_ridgewood_1 {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 493px;
        left: 1560px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_wc_ridgewood_3 {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 462px;
        left: 1560px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_wc_yard {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 462px;
        left: 1330px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }
    /* Second Row */
    .symbol_ridgewood_suscon_1 {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 834px;
        left: 400px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_ridgewood_suscon_2 {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 865px;
        left: 400px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_suscon_mill_1 {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 834px;
        left: 720px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_suscon_mill_2 {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 865px;
        left: 720px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_mill_westSecaucus_1 {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 834px;
        left: 1050px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_mill_westSecaucus_2 {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 865px;
        left: 1050px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_westSecaucus_laurel_1 {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 834px;
        left: 1340px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_westSecaucus_laurel_2 {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 865px;
        left: 1340px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_laurel_westEnd_4 {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 772px;
        left: 1590px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_laurel_westEnd_3 {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 803px;
        left: 1590px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_laurel_westEnd_1 {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 834px;
        left: 1590px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_laurel_westEnd_2 {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 865px;
        left: 1590px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }
    /* END Symbols */


    /* Tracks */
    .m_sterling_hilburn_2 {
        position: absolute;
        top: 540px;
        left: 599px;
        height: 7px;
        width: 90px;
        background: #999999;
    }

    .m_sterling_sf_1 {
        position: absolute;
        top: 509px;
        left: 599px;
        height: 7px;
        width: 353px;
        background: #999999;
    }

    .m_hilburn_sf {
        position: absolute;
        top: 540px;
        left: 787px;
        height: 7px;
        width: 165px;
        background: #999999;
    }

    .m_hilburn_yard_east {
        position: absolute;
        top: 571px;
        left: 918px;
        height: 7px;
        width: 35px;
        background: #999999;
    }

    .m_hilburn_yard_west {
        position: absolute;
        top: 571px;
        left: 787px;
        height: 7px;
        width: 35px;
        background: #999999;
    }

    .m_sf_wc_1 {
        position: absolute;
        top: 509px;
        left: 1089px;
        height: 7px;
        width: 246px;
        background: #999999;
    }

    .m_sf_wc_2 {
        position: absolute;
        top: 540px;
        left: 1089px;
        height: 7px;
        width: 246px;
        background: #999999;
    }

    .m_wc_yard {
        position: absolute;
        top: 478px;
        left: 1330px;
        height: 7px;
        width: 43px;
        background: #999999;
    }

    .m_wc_screen_3 {
        position: absolute;
        top: 478px;
        left: 1547px;
        height: 7px;
        width: 125px;
        background: #999999;
    }

    .m_wc_screen_1 {
        position: absolute;
        top: 509px;
        left: 1547px;
        height: 7px;
        width: 125px;
        background: #999999;
    }

    .m_wc_screen_2 {
        position: absolute;
        top: 540px;
        left: 1547px;
        height: 7px;
        width: 125px;
        background: #999999;
    }

    .m_screen_ridgewood_3 {
        position: absolute;
        top: 819px;
        left: 5px;
        height: 7px;
        width: 41px;
        background: #999999;
    }

    .m_screen_ridgewood_1 {
        position: absolute;
        top: 850px;
        left: 5px;
        height: 7px;
        width: 41px;
        background: #999999;
    }

    .m_screen_ridgewood_2 {
        position: absolute;
        top: 881px;
        left: 5px;
        height: 7px;
        width: 41px;
        background: #999999;
    }

    .m_ridgewood_suscon_1 {
        position: absolute;
        top: 850px;
        left: 347px;
        height: 7px;
        width: 165px;
        background: #999999;
    }

    .m_ridgewood_suscon_2 {
        position: absolute;
        top: 881px;
        left: 347px;
        height: 7px;
        width: 165px;
        background: #999999;
    }

    .m_suscon_mill_1 {
        position: absolute;
        top: 850px;
        left: 648px;
        height: 7px;
        width: 216px;
        background: #999999;
    }

    .m_suscon_mill_2 {
        position: absolute;
        top: 881px;
        left: 648px;
        height: 7px;
        width: 216px;
        background: #999999;
    }

    .m_westSecaucus_mill_1 { 
        position: absolute;
        top: 850px;
        left: 1000px;
        height: 7px;
        width: 180px;
        background: #999999;
    }

    .m_westSecaucus_mill_2 { 
        position: absolute;
        top: 881px;
        left: 1000px;
        height: 7px;
        width: 180px;
        background: #999999;
    }

    .m_laurel_westSecaucus_1 {
        position: absolute;
        top: 850px;
        left: 1336px;
        height: 7px;
        width: 65px;
        background: #999999;
    }

    .m_laurel_westSecaucus_2 {
        position: absolute;
        top: 881px;
        left: 1336px;
        height: 7px;
        width: 65px;
        background: #999999;
    }

    .m_westEnd_laurel_1 {
        position: absolute;
        top: 850px;
        left: 1588px;
        height: 7px;
        width: 88px;
        background: #999999;
    }

    .m_westEnd_laurel_2 {
        position: absolute;
        top: 881px;
        left: 1588px;
        height: 7px;
        width: 88px;
        background: #999999;
    }

    .m_westEnd_laurel_3 {
        position: absolute;
        top: 819px;
        left: 1588px;
        height: 7px;
        width: 88px;
        background: #999999;
    }

    .m_westEnd_laurel_4 {
        position: absolute;
        top: 788px;
        left: 1588px;
        height: 7px;
        width: 88px;
        background: #999999;
    }
    /* END Tracks */
