/**
 * @file west_secaucus.css
 * @author Joey Damico
 * @date September 25, 2019
 * @brief CSS Stylesheet for the West Secaucus Interlocking
 *
 * Styles the divs tracks and other tags for the West Secaucus Interlocking
 */

@charset "UTF-8";
    /* Texts */
    .westSecaucus_title {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 805px;
        left: 1155px;
        font-size: 18px;
        color: #14cc00;
    }

    .westSecaucus_milepost {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 825px;
        left: 1235px;
        font-size: 14px;
        color: white;
    }
    /* END Text */  

    /* Switches */
    .westSecaucus_SW_1 {
        position: absolute;
        z-index: 2;
        top: 850px;
        left: 1268px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }

    .m_westSecaucus_bridge {
        position: absolute;
        top: 850px;
        left: 1248px;
        height: 7px;
        width: 20px;
        background: #999999; 
    }

    .westSecaucus_SW_3 {
        position: absolute;
        z-index: 2;
        top: 850px;
        left: 1210px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }
    /* END Switches */

    /* Tail Tracks */
    .m_westSecaucus_1_west {
        position: absolute;
        top: 850px;
        left: 1185px;
        height: 7px;
        width: 25px;
        background: #999999;
    }

    .m_westSecaucus_2_west {
        position: absolute;
        top: 881px;
        left: 1185px;
        height: 7px;
        width: 25px;
        background: #999999;
    }

    .m_westSecaucus_1_east {
        position: absolute;
        top: 850px;
        left: 1306px;
        height: 7px;
        width: 25px;
        background: #999999;
    }

    .m_westSecaucus_2_east {
        position: absolute;
        top: 881px;
        left: 1306px;
        height: 7px;
        width: 25px;
        background: #999999;
    }
    /* END Tail Tracks */

    /* SIGNALS */
    .westSecaucus_sig_2w {
        position: absolute;
        top: 832px;
        left: 1307px;
        height: 8px;
        width: 19px;
        cursor: pointer;
    }

    .westSecaucus_sig_4w {
        position: absolute;
        top: 863px;
        left: 1307px;
        height: 8px;
        width: 19px;
        cursor: pointer;
    }

    .westSecaucus_sig_2e {
        position: absolute;
        top: 854px;
        left: 1190px;
        height: 8px;
        width: 19px;
        cursor: pointer;
    }

    .westSecaucus_sig_4e {
        position: absolute;
        top: 885px;
        left: 1190px;
        height: 8px;
        width: 19px;
        cursor: pointer;
    }
    /* END Signals */