@charset "UTF-8";

    .bt_SW_1 {
        position: absolute;
        z-index: 2;
        top: 726px;
        left: 565px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }

    .bt_SW_3 {
        position: absolute;
        z-index: 2;
        top: 726px;
        left: 603px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }

    .bt_SW_5 {
        position: absolute;
        z-index: 2;
        top: 695px;
        left: 641px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }

    .bt_1_west {
        position: absolute;
        top: 726px;
        left: 540px;
        height: 7px;
        width: 25px;
        background: #999999;
    }

    .bt_2_west {
        position: absolute;
        top: 757px;
        left: 540px;
        height: 7px;
        width: 25px;
        background: #999999;
    }

    .bt_1_east {
        position: absolute;
        top: 726px;
        left: 679px;
        height: 7px;
        width: 25px;
        background: #999999;
    }

    .bt_2_east {
        position: absolute;
        top: 757px;
        left: 641px;
        height: 7px;
        width: 63px;
        background: #999999;
    }

    .bt_3_east {
        position: absolute;
        top: 695px;
        left: 679px;
        height: 7px;
        width: 25px;
        background: #999999;
    }