@charset "UTF-8";
/* 
    Track Color: #999999 
    Route Color: #75fa4c
    Occupied Color: #eb3323
*/
    /* Texts */
    .suscon_title {
        position: absolute;
        top: 805px;
        left: 546px;
        font-size: 18px;
        color: #14cc00;
    }

    .suscon_milepost {
        position: absolute;
        top: 825px;
        left: 559px;
        font-size: 14px;
        color: white;
    }
    /* END Text */


    /* Switches */
    .suscon_SW_3 {
        position: absolute;
        z-index: 2;
        top: 850px;
        left: 542px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }

    .suscon_SW_1 {
        position: absolute;
        z-index: 2;
        top: 850px;
        left: 580px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }
    /* END Switches */

    /* Tail Tracks */
    .suscon_1_west {
        position: absolute;
        top: 850px;
        left: 517px;
        height: 7px;
        width: 25px;
        background: #999999;
    }

    .suscon_2_west {
        position: absolute;
        top: 881px;
        left: 517px;
        height: 7px;
        width: 25px;
        background: #999999;
    }

    .suscon_1_east {
        position: absolute;
        top: 850px;
        left: 618px;
        height: 7px;
        width: 25px;
        background: #999999;
    }

    .suscon_2_east {
        position: absolute;
        top: 881px;
        left: 618px;
        height: 7px;
        width: 25px;
        background: #999999;
    }
    /* END Tail Tracks */

    /* Signals */
    .suscon_sig_2w {
        position: absolute;
        top: 832px;
        left: 620px;
        height: 8px;
        width: 19px;
        cursor: pointer;
    }

    .suscon_sig_2e {
        position: absolute;
        top: 854px;
        left: 520px;
        height: 8px;
        width: 19px;
        cursor: pointer;
    }

    .suscon_sig_4w {
        position: absolute;
        top: 863px;
        left: 620px;
        height: 8px;
        width: 19px;
        cursor: pointer;
    }

    .suscon_sig_4e {
        position: absolute;
        top: 885px;
        left: 520px;
        height: 8px;
        width: 19px;
        cursor: pointer;
    }
    /* END Signals */