@charset "UTF-8";
/* 
    Track Color: #999999 
    Route Color: #75fa4c
    Occupied Color: #eb3323
*/
    .westSecaucus_SW_1 {
        position: absolute;
        z-index: 2;
        top: 850px;
        left: 1268px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }

    .m_westSecaucus_bridge {
        position: absolute;
        top: 850px;
        left: 1248px;
        height: 7px;
        width: 20px;
        background: #999999; 
    }

    .westSecaucus_SW_3 {
        position: absolute;
        z-index: 2;
        top: 850px;
        left: 1210px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }

    /* Tail Tracks */
    .m_westSecaucus_1_west {
        position: absolute;
        top: 850px;
        left: 1185px;
        height: 7px;
        width: 25px;
        background: #999999;
    }

    .m_westSecaucus_2_west {
        position: absolute;
        top: 881px;
        left: 1185px;
        height: 7px;
        width: 25px;
        background: #999999;
    }

    .m_westSecaucus_1_east {
        position: absolute;
        top: 850px;
        left: 1306px;
        height: 7px;
        width: 25px;
        background: #999999;
    }

    .m_westSecaucus_2_east {
        position: absolute;
        top: 881px;
        left: 1306px;
        height: 7px;
        width: 25px;
        background: #999999;
    }
    /* END Tail Tracks */

    /* SIGNALS */
    .westSecaucus_sig_2w {
        position: absolute;
        top: 832px;
        left: 1307px;
        height: 8px;
        width: 19px;
        cursor: pointer;
    }

    .westSecaucus_sig_4w {
        position: absolute;
        top: 863px;
        left: 1307px;
        height: 8px;
        width: 19px;
        cursor: pointer;
    }

    .westSecaucus_sig_2e {
        position: absolute;
        top: 854px;
        left: 1190px;
        height: 8px;
        width: 19px;
        cursor: pointer;
    }

    .westSecaucus_sig_4e {
        position: absolute;
        top: 885px;
        left: 1190px;
        height: 8px;
        width: 19px;
        cursor: pointer;
    }