/**
 * @file bergenCounty.css
 * @author Joey Damico
 * @date September 25, 2019
 * @brief CSS Stylesheet for the Bergen County Tracks
 *
 * Styles the divs tracks and other tags for the Bergen County Tracks
 */

@charset "UTF-8";
    /* Tags */
    .bt_nysw_tag {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 689px;
        left: 775px;
        font-size: 16px;
        color: #52fff6;
    }

    .hx_line_tag {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 674px;
        left: 1380px;
        font-size: 16px;
        color: #52fff6;
    }
    /* END Tags */

    /* Symbols*/
    .symbol_ridgewood_bt_1 {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 710px;
        left: 430px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_ridgewood_bt_2 {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 742px;
        left: 455px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_bt_pascack_1 {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 710px;
        left: 780px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_bt_pascack_2 {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 742px;
        left: 780px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_bt_nysw {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 678px;
        left: 710px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_pascack_hx_1 {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 710px;
        left: 1070px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_pascack_hx_2 {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 742px;
        left: 1070px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_hx_laurel_1 {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 710px;
        left: 1280px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_hx_laurel_2 {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 742px;
        left: 1235px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_hx_croxton_1 {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 647px;
        left: 1315px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }

    .symbol_hx_croxton_2 {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 678px;
        left: 1315px;
        font-size: 15px;
        font-weight: 700;
        color: #eb3323
    }
    /* END Symbols */

    /* Tracks */
    .b_croxton_1 {
        position: absolute;
        top: 664px;
        left: 1313px;
        height: 7px;
        width: 60px;
        background: #999999;
    }

    .b_croxton_2 {
        position: absolute;
        top: 695px;
        left: 1313px;
        height: 7px;
        width: 60px;
        background: #999999;
    }

    .b_laurel_hx_1_west {
        position: absolute;
        top: 726px;
        left: 1275px;
        height: 7px;
        width: 20px;
        background: #999999;
    }

    .b_laurel_hx_1_diag {
        position: absolute;
        top: 788px;
        left: 1290px;
        height: 7px;
        width: 92px;
        background: #999999;
        transform: 
            translateY(-31px)
            translateX(-11px)
            rotate(43deg);
    }

    .b_laurel_hx_1_east {
        position: absolute;
        top: 788px;
        left: 1356px;
        height: 7px;
        width: 20px;
        background: #999999;
    }

    .b_laurel_hx_2_west {
        position: absolute;
        top: 757px;
        left: 1237px;
        height: 7px;
        width: 30px;
        background: #999999;
    }

    .b_laurel_hx_2_diag {
        position: absolute;
        top: 819px;
        left: 1255px;
        height: 7px;
        width: 94px;
        background: #999999;
        transform: 
            translateY(-31px)
            translateX(-3px)
            rotate(43deg);
    }

    .b_laurel_hx_2_east {
        position: absolute;
        top: 819px;
        left: 1331px;
        height: 7px;
        width: 20px;
        background: #999999;
    }

    .b_hx_pascack_1 {
        position: absolute;
        top: 726px;
        left: 1059px;
        height: 7px;
        width: 80px;
        background: #999999;
    }

    .b_hx_pascack_2 {
        position: absolute;
        top: 757px;
        left: 1059px;
        height: 7px;
        width: 80px;
        background: #999999;
    }

    .b_pascack_bt_1 {
        position: absolute;
        top: 726px;
        left: 709px;
        height: 7px;
        width: 214px;
        background: #999999;
    }

    .b_pascack_bt_2 {
        position: absolute;
        top: 757px;
        left: 709px;
        height: 7px;
        width: 214px;
        background: #999999;
    }

    .b_bt_ridgewood_1_east {
        position: absolute;
        top: 726px;
        left: 450px;
        height: 7px;
        width: 85px;
        background: #999999;
    }

    .b_bt_ridgewood_1_diag {
        position: absolute;
        top: 788px;
        left: 365px;
        height: 7px;
        width: 104px;
        background: #999999;
        transform: 
            translateY(-31px)
            translateX(-6px)
            rotate(-37.5deg);
    }

    .b_bt_ridgewood_1_west {
        position: absolute;
        top: 788px;
        left: 347px;
        height: 7px;
        width: 25px;
        background: #999999;
    }

    .b_bt_ridgewood_2_east {
        position: absolute;
        top: 757px;
        left: 475px;
        height: 7px;
        width: 60px;
        background: #999999;
    }

    .b_bt_ridgewood_2_diag {
        position: absolute;
        top: 819px;
        left: 390px;
        height: 7px;
        width: 104px;
        background: #999999;
        transform: 
            translateY(-31px)
            translateX(-6px)
            rotate(-37.5deg);
    }

    .b_bt_ridgewood_2_west {
        position: absolute;
        top: 819px;
        left: 347px;
        height: 7px;
        width: 50px;
        background: #999999;
    }

    .b_nysw {
        position: absolute;
        top: 695px;
        left: 709px;
        height: 7px;
        width: 60px;
        background: #999999;
    }

    .b_pascack_1 {
        position: absolute;
        top: 660px;
        left: 995px;
        height: 7px;
        width: 60px;
        background: #999999;
    }

    .b_pascack_2 {
        position: absolute;
        top: 629px;
        left: 995px;
        height: 7px;
        width: 60px;
        background: #999999;
    }