/**
 * @file bt.css
 * @author Joey Damico
 * @date September 25, 2019
 * @brief CSS Stylesheet for the BT Interlocking
 *
 * Styles the divs tracks and other tags for the BT Interlocking
 */

@charset "UTF-8";

     /* Texts */
     .bt_title {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 650px;
        left: 612px;
        font-size: 18px;
        color: #14cc00;
    }

    .bt_milepost {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 670px;
        left: 600px;
        font-size: 14px;
        color: white;
    }
    /* END Text */

    /* Switches */
    .bt_SW_1 {
        position: absolute;
        z-index: 2;
        top: 726px;
        left: 565px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }

    .bt_SW_3 {
        position: absolute;
        z-index: 2;
        top: 726px;
        left: 603px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }

    .bt_SW_5 {
        position: absolute;
        z-index: 2;
        top: 695px;
        left: 641px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }
    /* END Switches */

    /* Tail Tracks */
    .bt_1_west {
        position: absolute;
        top: 726px;
        left: 540px;
        height: 7px;
        width: 25px;
        background: #999999;
    }

    .bt_2_west {
        position: absolute;
        top: 757px;
        left: 540px;
        height: 7px;
        width: 25px;
        background: #999999;
    }

    .bt_1_east {
        position: absolute;
        top: 726px;
        left: 679px;
        height: 7px;
        width: 25px;
        background: #999999;
    }

    .bt_2_east {
        position: absolute;
        top: 757px;
        left: 641px;
        height: 7px;
        width: 63px;
        background: #999999;
    }

    .bt_3_east {
        position: absolute;
        top: 695px;
        left: 679px;
        height: 7px;
        width: 25px;
        background: #999999;
    }
    /* END Tail Tracks */

    /* Signals */
    .bt_sig_2w-2 {
        position: absolute;
        top: 677px;
        left: 682px;
        height:8px;
        width: 19px;
        cursor: pointer;
    }

    .bt_sig_2w-1 {
        position: absolute;
        top: 708px;
        left: 682px;
        height:8px;
        width: 19px;
        cursor: pointer;
    }

    .bt_sig_4w {
        position: absolute;
        top: 739px;
        left: 682px;
        height:8px;
        width: 19px;
        cursor: pointer;
    }

    .bt_sig_2e {
        position: absolute;
        top: 730px;
        left: 544px;
        height:8px;
        width: 19px;
        cursor: pointer;
    }

    .bt_sig_4e {
        position: absolute;
        top: 761px;
        left: 544px;
        height:8px;
        width: 19px;
        cursor: pointer;
    }
    /* END Signals */