/**
 * @file hx.css
 * @author Joey Damico
 * @date September 25, 2019
 * @brief CSS Stylesheet for the HX Interlocking
 *
 * Styles the divs tracks and other tags for the HX Interlocking
 */

@charset "UTF-8";

    /* Texts */
    .hx_title {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 620px;
        left: 1207px;
        font-size: 18px;
        color: #14cc00;
    }

    .hx_milepost {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 640px;
        left: 1200px;
        font-size: 14px;
        color: white;
    }
    /* END Text */


    /* Switches */
    .hx_SW_1 {
        position: absolute;
        z-index: 2;
        top: 726px;
        left: 1169px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }

    .hx_SW_3 {
        position: absolute;
        z-index: 2;
        top: 695px;
        left: 1207px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }

    .hx_SW_5 {
        position: absolute;
        z-index: 2;
        top: 664px;
        left: 1245px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }
    /* END Switches */


    /* Tail Tracks */
    .hx_1_west {
        position: absolute;
        top: 726px;
        left: 1144px;
        height: 7px;
        width: 25px;
        background: #999999;
    }

    .hx_2_west {
        position: absolute;
        top: 757px;
        left: 1144px;
        height: 7px;
        width: 25px;
        background: #999999;
    }

    .hx_1_east {
        position: absolute;
        top: 726px;
        left: 1245px;
        height: 7px;
        width: 25px;
        background: #999999;
    }

    .hx_2_east {
        position: absolute;
        top: 757px;
        left: 1207px;
        height: 7px;
        width: 25px;
        background: #999999;
    }

    .hx_croxton_1 {
        position: absolute;
        top: 664px;
        left: 1283px;
        height: 7px;
        width: 25px;
        background: #999999;
    }

    .hx_croxton_2 {
        position: absolute;
        top: 695px;
        left: 1283px;
        height: 7px;
        width: 25px;
        background: #999999;
    }
    /* END Tail Tracks */


    /* Signals */
    .hx_sig_2w-3 {
        position: absolute;
        top: 646px;
        left: 1286px;
        height:8px;
        width: 19px;
        cursor: pointer;
    }

    .hx_sig_2w-2 {
        position: absolute;
        top: 677px;
        left: 1286px;
        height:8px;
        width: 19px;
        cursor: pointer;
    }

    .hx_sig_2w-1 {
        position: absolute;
        top: 708px;
        left: 1248px;
        height:8px;
        width: 19px;
        cursor: pointer;
    }

    .hx_sig_4w {
        position: absolute;
        top: 739px;
        left: 1210px;
        height:8px;
        width: 19px;
        cursor: pointer;
    }

    .hx_sig_2e {
        position: absolute;
        top: 730px;
        left: 1148px;
        height:8px;
        width: 19px;
        cursor: pointer;
    }

    .hx_sig_4e {
        position: absolute;
        top: 761px;
        left: 1148px;
        height:8px;
        width: 19px;
        cursor: pointer;
    }
    /* END Signals */