/**
 * @file pascack_jct.css
 * @author Joey Damico
 * @date September 25, 2019
 * @brief CSS Stylesheet for the Pascack Junction Interlocking
 *
 * Styles the divs tracks and other tags for the Pascack Junction Interlocking
 */

@charset "UTF-8";
    /* Texts */
    .pascack_title {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 670px;
        left: 948px;
        font-size: 18px;
        color: #14cc00;
    }

    .pascack_milepost {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        top: 690px;
        left: 970px;
        font-size: 14px;
        color: white;
    }
    /* END Text */

    /* Switches */
    .pascack_SW_1 {
        position: absolute;
        z-index: 2;
        top: 726px;
        left: 953px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }

    .pascack_SW_3 {
        position: absolute;
        z-index: 2;
        top: 726px;
        left: 991px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }
    /* END Switches */


    /* Tail Tracks */
    .pascack_1_west {
        position: absolute;
        top: 726px;
        left: 928px;
        height: 7px;
        width: 25px;
        background: #999999;
    }

    .pascack_2_west {
        position: absolute;
        top: 757px;
        left: 928px;
        height: 7px;
        width: 25px;
        background: #999999;
    }

    .pascack_1_east {
        position: absolute;
        top: 726px;
        left: 1029px;
        height: 7px;
        width: 25px;
        background: #999999;
    }

    .pascack_2_east {
        position: absolute;
        top: 757px;
        left: 1029px;
        height: 7px;
        width: 25px;
        background: #999999;
    }
    /* END Tail Tracks */


    /* Signals */
    .pascack_sig_2w {
        position: absolute;
        top: 708px;
        left: 1033px;
        height:8px;
        width: 19px;
        cursor: pointer;
    }

    .pascack_sig_4w {
        position: absolute;
        top: 739px;
        left: 1033px;
        height:8px;
        width: 19px;
        cursor: pointer;
    }

    .pascack_sig_2e {
        position: absolute;
        top: 730px;
        left: 932px;
        height:8px;
        width: 19px;
        cursor: pointer;
    }

    .pascack_sig_4e {
        position: absolute;
        top: 761px;
        left: 932px;
        height:8px;
        width: 19px;
        cursor: pointer;
    }
    /* END Signals */