@charset "UTF-8";
/* 
    Track Color: #999999 
    Route Color: #75fa4c
    Occupied Color: #eb3323
*/
	.b_bt_ridgewood_1 {
		position: absolute;
        top: 695px;
        left: 418px;
        height: 7px;
        width: 72px;
        background: #999999;
	}

	.b_bt_ridgewood_2 {
		position: absolute;
        top: 726px;
        left: 418px;
        height: 7px;
        width: 72px;
        background: #999999;
	}