@charset "UTF-8";
/* 
    Track Color: #999999 
    Route Color: #75fa4c
    Occupied Color: #eb3323
*/
    .m_sig_laurel_1 {
        position: absolute;
        top: 770px;
        left: 1605px;
        height: 10px;
        width: 24px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }

    .m_sig_laurel_2 {
        position: absolute;
        top: 801px;
        left: 1605px;
        height: 10px;
        width: 24px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }

    .m_sig_laurel_3 {
        position: absolute;
        top: 832px;
        left: 1605px;
        height: 10px;
        width: 24px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }

    .m_sig_laurel_4 {
        position: absolute;
        top: 863px;
        left: 1605px;
        height: 10px;
        width: 24px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }

    .m_laurel_1 {
        position: absolute;
        top: 788px;
        left: 1406px;
        height: 7px;
        width: 190px;
        background: #999999;
    }

    .m_laurel_2 {
        position: absolute;
        top: 819px;
        left: 1406px;
        height: 7px;
        width: 190px;
        background: #999999;
    }

    .m_laurel_3 {
        position: absolute;
        top: 850px;
        left: 1406px;
        height: 7px;
        width: 190px;
        background: #999999;
    }

    .m_laurel_4 {
        position: absolute;
        top: 881px;
        left: 1406px;
        height: 7px;
        width: 190px;
        background: #999999;
    }

    .laurel_2_1 {
        position: absolute;
        z-index: 2;
        top: 788px;
        left: 1406px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }

    .laurel_3_2_W {
        position: absolute;
        z-index: 2;
        top: 819px;
        left: 1444px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }

    .laurel_2_3 {
        position: absolute;
        z-index: 2;
        top: 819px;
        left: 1482px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }

    .laurel_3_2 {
        position: absolute;
        z-index: 2;
        top: 819px;
        left: 1520px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }

    .laurel_4_3 {
        position: absolute;
        z-index: 2;
        top: 850px;
        left: 1558px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }

    .laurel_1_2 {
        position: absolute;
        z-index: 2;
        top: 788px;
        left: 1558px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }