@charset "UTF-8";
/* 
    Track Color: #999999 
    Route Color: #75fa4c
    Occupied Color: #eb3323
*/
    /* Texts */
    .mill_title {
        position: absolute;
        top: 805px;
        left: 910px;
        font-size: 18px;
        color: #14cc00;
    }

    .mill_milepost {
        position: absolute;
        top: 825px;
        left: 910px;
        font-size: 14px;
        color: white;
    }
    /* END Text */

    /* Switches */
    .mill_SW_3 {
        position: absolute;
        z-index: 2;
        top: 850px;
        left: 894px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }

    .mill_SW_1 {
        position: absolute;
        z-index: 2;
        top: 850px;
        left: 932px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }
    /* END Switches */

    /* Tail Tracks */
    .m_mill_1_west {
        position: absolute;
        top: 850px;
        left: 970px;
        height: 7px;
        width: 25px;
        background: #999999;
    }

    .m_mill_2_west {
        position: absolute;
        top: 881px;
        left: 970px;
        height: 7px;
        width: 25px;
        background: #999999;
    }

    .m_mill_1_east {
        position: absolute;
        top: 850px;
        left: 869px;
        height: 7px;
        width: 25px;
        background: #999999;
    }

    .m_mill_2_east {
        position: absolute;
        top: 881px;
        left: 869px;
        height: 7px;
        width: 25px;
        background: #999999;
    }
    /* END Tail Tracks */

    /* Signals */
    .mill_sig_2w {
        position: absolute;
        top: 832px;
        left: 975px;
        height: 8px;
        width: 19px;
        cursor: pointer;
    }

    .mill_sig_4w {
        position: absolute;
        top: 863px;
        left: 975px;
        height: 8px;
        width: 19px;
        cursor: pointer;
    }

    .mill_sig_2e {
        position: absolute;
        top: 854px;
        left: 870px;
        height: 8px;
        width: 19px;
        cursor: pointer;
    }

    .mill_sig_4e {
        position: absolute;
        top: 885px;
        left: 870px;
        height: 8px;
        width: 19px;
        cursor: pointer;
    }
    /* END Signals */