@charset "UTF-8";
/* 
    Track Color: #999999 
    Route Color: #75fa4c
    Occupied Color: #eb3323
*/
    .suscon_SW_1 {
        position: absolute;
        z-index: 2;
        top: 850px;
        left: 542px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }

    .suscon_SW_2 {
        position: absolute;
        z-index: 2;
        top: 850px;
        left: 580px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }

    .m_sig_suscon_1_west {
        position: absolute;
        top: 832px;
        left: 620px;
        height: 8px;
        width: 19px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }

    .m_sig_suscon_1_east {
        position: absolute;
        top: 854px;
        left: 520px;
        height: 8px;
        width: 19px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }

    .m_sig_suscon_2_west {
        position: absolute;
        top: 863px;
        left: 620px;
        height: 8px;
        width: 19px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }

    .m_sig_suscon_2_east {
        position: absolute;
        top: 885px;
        left: 520px;
        height: 8px;
        width: 19px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }