@charset "UTF-8";
/* 
    Track Color: #999999 
    Route Color: #75fa4c
    Occupied Color: #eb3323
*/
    .westSecaucus_SW_1 {
        position: absolute;
        z-index: 2;
        top: 850px;
        left: 1282px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }

    .m_westSecaucus_bridge {
        position: absolute;
        top: 850px;
        left: 1262px;
        height: 7px;
        width: 15px;
        background: #999999; 
    }

    .westSecaucus_SW_2 {
        position: absolute;
        z-index: 2;
        top: 850px;
        left: 1219px;
        height: 38px;
        width: 38px;
        cursor: pointer;
    }